/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

/* COLORS */
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire:#99E2D0;
$fondBody: #FFF;
$fond: #F6F6F6;

/* BREAKPOINTS */
$bp_xs: 320px;
$bp_sm: 481px;
$bp_md: 769px;
$bp_lg: 1025px;

/* LOADER */
$loader_animation_duration: 3s;

/* CART */
$cart_animation_duration: 2;