/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

/* COLORS */
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire:#99E2D0;
$icone: #7e7e7e;
$fondBody: #FFF;
$fond: #F6F6F6;

/* BREAKPOINTS */
$bp_xs: 320;
$bp_sm: 481;
$bp_md: 769;
$bp_lg: 1025;

$colonne: 12;

$map: (
        '': 0,          /* Tous les appareils */
        '-xs' : $bp_xs, /* Téléphone */
        '-sm' : $bp_sm, /* Tablette */
        '-md' : $bp_sm, /* Petit ordinateur */
        '-lg' : $bp_lg, /* Grand ordinateur */
);

/* LOADER */
$loader_animation_duration: 3s;

/* CART */
$cart_animation_duration: 2;