@import "variables",
"mixins/mixins",
"components/typo",
"components/button",
"components/grid",
"components/card",
"components/helper";

/******************
 * Custom rules
 ******************/

/* reset */
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: $fondBody;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/* chargement de page */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}

@keyframes hideOverlay {
  0% { visibility: visible }
  100% { visibility: hidden }
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: hideOverlay $loader_animation_duration linear both;
  -o-animation: hideOverlay $loader_animation_duration linear both; /* Opera */
  -moz-animation: hideOverlay $loader_animation_duration linear both; /* Firefox */
  -webkit-animation: hideOverlay $loader_animation_duration linear both; /* Safari */
  background: rgba(0,0,0,.5);

  .spinner {
    margin: auto;
    width: 120px;
    height: 120px;
    animation: spin $loader_animation_duration linear both;
    -o-animation: spin $loader_animation_duration linear both; /* Opera */
    -moz-animation: spin $loader_animation_duration linear both; /* Firefox */
    -webkit-animation: spin $loader_animation_duration linear both; /* Safari */
    @include radius(50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid $primaire;
    border-right: 16px solid $secondaire;
    border-bottom: 16px solid $tertiaire;
  }
}

.emplacement {
  background: darken($fond, 4%);
}

img{
  max-width: 100%;
}

footer {
  background: #353535;
  color: #FFFFFF;
}

.cart {
  position: relative;
  background: $fond;
  @include radius(30px, 'top-right');
  @include radius(30px, 'top-left');
  margin-top: -40px;

  h2.title {
    font-family: 'Shrikhand', cursive;
  }

  h3 {
    position: relative;
    font-weight: 300;
    &:before {
      bottom: -4px;
      left: 0;
      content: '';
      width: 35px;
      position: absolute;
      border: 2px solid $tertiaire;
    }
  }

  p, .card-body, .cart-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-content {
    flex: 1;
  }

  &-price {
    padding-left: 5px;
  }

  .card-body {
    overflow: hidden;
    flex: 1;
    flex-wrap: nowrap;
  }

  .card-confirm {
    margin-right: -64px;
    width: 4rem;
    @include flex;
    align-items: center;
    justify-content: center;
    @include transition(.5s);
    background: $tertiaire;

    .fas {
      color: $tertiaire;
      height: 1.6rem;
      width: 1.6rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: .5s;
    }
  }

  .card:hover .card-confirm {
    margin: 0;
    .fas {
      transform: rotate(0deg);
    }
  }
}

@keyframes fadeIn {
  0% {transform:scale(0)}
  50% {transform:scale(1.1)}
  100% {transform:scale(1)}
}


.cart-item {
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation: fadeIn $i * (1s / $cart_animation_duration) linear both;
      -o-animation: fadeIn $i * (1s / $cart_animation_duration) linear both;
      -moz-animation: fadeIn $i * (1s / $cart_animation_duration) linear both;
      -webkit-animation: fadeIn $i * (1s / $cart_animation_duration) linear both;
    }
  }
}
