.btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: 0;
  font-weight: 400;
  padding: 10px 15px;
  @include shadow(0,3px,15px, rgba(0,0,0,.25));

  &.main-btn {
    background: linear-gradient($secondaire, $primaire);
    @include radius(30px);
    color: white;
    @include transition(.25s);

    &:hover {
      @include shadow(0,3px,10px, rgba(0,0,0,.5));
      background: linear-gradient(lighten($secondaire, 5%), lighten($primaire, 5%));
    }
  }

  &.btn-sm {
    font-size: 90%;
  }
}