.card {
  background: $fondBody;
  overflow: hidden;
  @include shadow(0,0,10px, rgba(0,0,0,.25));
  @include radius(20px);
  position: relative;
  @include transition(.2s);

  &-image {
    position: relative;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &-label {
      padding: 5px 10px;
      position: absolute;
      right: 15px;
      top: 15px;
      background: #99e2d0;
      @include radius(4px);
      color: darken(#99e2d0, 50%);
      font-weight: 400;
    }
  }

  &-body {
    padding: 20px;
  }

  &.inverted {
    background: $fond;
  }
}

.cards-operation {
  .card {
    overflow: visible;
    margin-left: 10px;
  }

  .iterator {
    color: #FFF;
    text-align: center;
    @include radius(40px);
    padding: 2px 5px;
    height: 22px;
    width: 22px;
    background: $primaire;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -10px;
  }

  .card:hover {
    background: lighten($primaire, 30%);

    i.fas {
      color: $primaire;
    }
  }
}
